// Background colors
.p-back_gradient{
    background: linear-gradient(to Bottom, $lb_blue, $lb_black);
}
.p-back_black{
    background: $lb_black
}
.p-back_darkgradient{
    background: linear-gradient(to Bottom, #05325B, #090F1F);
}
.p-fullh{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
// End bg colors

.logo__image{
    max-width: 3rem;
    width: 100%;
}
.p-logo-text{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.5rem;
}
.p-logo-text span{
    color: #1C75BC;
}
.p-title{
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.1666;
    color: #fff;

    @media (max-width: $bp-768){
        font-size: 3rem;
    }
}
.p-btn{
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1.15;
    padding: 1.6rem 2.5rem;
    border-radius: .9rem;
    height: 5.5rem;
    color: #fff;
    white-space: nowrap;

    &_white{
        background: #fff;
        color: #212735;
    }
    &_stroke{
        background: transparent;
        border: .2rem solid #fff;
    }
    &_dark{
        background: #2A2B38;
    }
}

.p-blank-item{
    // border: .1rem dashed #fff;
    background: #091224;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='18' ry='18' stroke='white' stroke-width='2' stroke-dasharray='5.4' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 18px;
}
.p-blank-item__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-blank-item__icon{
    max-width: 5.8rem;
    max-height: 5.8rem;
}
.p-blank-item__title{
    margin-top: 4rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.666;
    color: #fff;
}

.p-line{
    width: 100%;
    height: .1rem;
    position: relative;
}
.p-line:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #939393;
    position: absolute;
    top: 0;
    right: 0;
}
.p-wrapper{
    display: inline-block;
    padding: 2.8rem 3.8rem;
    border-radius: 2.7rem;
    background: $lb_black;
    display: flex;
    flex-direction: column;
    width: 100%;
}

// Section title
.s-title{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #AFAFAF;
}
.s-title__icon{
    max-height: 5rem;
    margin-right: 1.8rem;    

    @media (max-width: $bp-991){
        max-height: calcSize(5rem, 85);
        margin-right: calcSize(1.8rem, 85);   
    }
    @media (max-width: $bp-768){
        max-height: calcSize(5rem, 65);
        margin-right: calcSize(1.8, 65);
    }
    @media (max-width: $bp-565){
        max-height: 2.8rem;
    }
}
.s-title__title{
    font-size: 2.6rem;
    line-height: 1.173;
    font-weight: 500;
    color: #E8E9EA;

    @media (max-width: $bp-991){
        font-size: calcSize(2.6rem, 85);
    }
    @media (max-width: $bp-768){
        font-size: calcSize(2.6rem, 65);
    }
    @media (max-width: $bp-565){
        font-size: 1.5rem;
    }
}

// Page calculator c-
.c-text{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.1666;
    color: #E8E9EA;

    &_gray{
        font-weight: 400;
        color: #9DA1A9;
    }

    &_medium{
        font-weight: 500;
    }
}