.banner__wrapper{    
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 7.8rem;
    border-radius: 1.2rem;
    background: linear-gradient(to Right, #0148FF, #FFFFFF);
    padding: 1.5rem;
    
    @media (max-width: $bp-768){
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.banner__beta{
    max-width: 14rem;
    max-height: 4.5rem;
    margin-right: 6rem;

    @media (max-width: $bp-991){
        margin-right: 4rem;
    }
    @media (max-width: $bp-768){
        order: 1;
        margin-right: 0;
    }
    @media (max-width: $bp-565){
        max-width: 10.1rem;
    }
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;

    @media (max-width: $bp-768){
        flex: 0 0 100%;
        order: 3;
        align-items: flex-start;
        margin-top: 1rem;
        text-align: left;
    }
    @media (max-width: $bp-414){
        margin-top: 1.5rem;
    }
}
.banner-content__text{
    font-size: 2.4rem;
    line-height: 1.17;
    color: #2A2B38;

    &_s18{
        margin-top: 1.4rem;
        font-size: 1.8rem;
        @media (max-width: $bp-565){
            font-size: 1.5rem;
            margin-top: 0.7rem;
        }
    }
    @media (max-width: $bp-565){
        font-size: 1.8rem;
    }
}
.banner-content__label{
    margin-top: 1.5rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: .5rem 1.7rem;
    background: rgba(#747373, .49);
    border-radius: 1.3rem;
    
    & > span{
        font-weight: 600;
        text-transform: uppercase;
    }

    @media (max-width: $bp-414){
        font-size: 1.3rem;
    }
}
.banner__link{
    border-radius: 1rem;
    margin-left: 6rem;

    @media (max-width: $bp-991){
        margin-left: 4rem;
    }
    @media (max-width: $bp-768){
        order: 2;
        margin-left: 0;
    }
    @media (max-width: $bp-565){
        height: 4.1rem;
        padding: 0;
        width: 11.6rem;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.4rem;
        font-weight: 400;
    }
}