.hero{
    padding: 12.5rem 0 19rem;
    background: $lb_black;
    position: relative;
    overflow: hidden;

    @media (max-width: $bp-565){
        // padding-bottom: 5rem;
    }
    @media (max-width: $bp-414){
        padding-top: calcSize(12.5rem, 70);
    }
}
.hero__strokes{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 80rem;

    @media (max-width: $bp-768){
        max-width: calcSize(80rem, 60);
    }
}
.hero__container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-content{
    position: relative;
    z-index: 2;
    padding: 2rem 0;
    max-width: 62.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.hero-content__wrapper{
}
.hero-content__title,
.hero-content__desc{
    text-align: center;
}
.hero-content__title{
    font-size: 5.4rem;
    font-weight: 600;
    line-height: 1.17;
    text-transform: unset;
    animation: anim 1s linear 1s forwards;

    @media (max-width: $bp-768){
        font-size: calcSize(5.4rem, 80);
    }
    @media (max-width: $bp-414){
        font-size: calcSize(5.4rem, 60);        
    }
}
.hero-content__desc{
    color: #E3E3E3;
    font-size: 1.8rem;
    line-height: 1.5;
    margin-top: 2rem;
    @media (max-width: $bp-414){
        font-size: calcSize(1.8rem, 90);        
    }
}
.hero-controls{
    display: flex;
    margin-top: 3.4rem;

    @media (max-width: $bp-768){
        flex-wrap: wrap;
        justify-content: center;
    }
    @media (max-width: $bp-565){
        display: none;
    }
}
.hero-controls__btn{
    &_stroke{}
    &_white{
        margin-left: 1.8rem;
    }
}
.hero-social{    
    display: flex;
    align-items: center;
    margin-left: 1.5rem;

    @media (max-width: $bp-768){
        margin-top: 3rem;
        flex: 0 0 100%;
        justify-content: center;
    }
}
.hero-social__link{
    margin: 0 1.4rem;
    width: 2.5rem;
    height: 2.5rem;
    & > svg{
        max-width: 100%;
        max-height: 100%;
        fill: #fff;
    }
}

@media (min-width: $bp-animation){
    .hero-content__wrapper{
        transform: translateY(-150%);
        animation: toBottom .75s ease-out 1s forwards;
    }
    .hero-controls{
        transform: translateY(150%);
        animation: toTop .75s ease-out 1s forwards;
    }
}

@keyframes toBottom{
    0%{        
        transform: translateY(-150%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes toTop {    
    0%{        
        transform: translateY(150%);
    }
    100%{
        transform: translateY(0);
    }
}