.launchpad{
    padding-bottom: 12.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.launchpad__line{

}
.launchpad__title{
    margin-top: 10rem;

    @media (max-width: $bp-768){
        margin-top: 7rem;
    }
}
.launchpad__image{
    margin-top: 5rem;
    max-width: 51.75rem;

    @media (max-width: $bp-768){
        margin-top: 9.7rem;
        max-width: 36rem;
    }
    @media (max-width: $bp-414){
        margin-top: 6rem;
        max-width: 25rem;
    }
}
.launchpad__img{
    width: 100%;
}
.launchpad__text{
    margin-top: 6.3rem;
    max-width: 77.8rem;
    text-align: center;

    @media (max-width: $bp-768){
        margin-top: 8.7rem;
    }
    @media (max-width: $bp-414){
        margin-top: 5rem;
    }
}
.launchpad__prh{
    font-size: 1.4rem;
    line-height: 2.11rem;
    font-weight: 400;
    color: #fff;
}
.launchpad__prh + .launchpad__prh{
    margin-top: 2.8rem;
}
.launchpad__btn{
    padding: 1rem 2.4rem;
    display: inline-block;
    margin-top: 2.8rem;
    border-radius: .5rem;
    background: #1C75BC;

    font-size: 1.8rem;
    line-height: 2.11rem;
    font-weight: 400;
    color: #fff;
}

@media (min-width: $bp-animation){
    .launchpad__title,
    .launchpad__btn{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path 2s ease-out .5s;
    }

    .launchpad__text{
        opacity: 0;
        transition: opacity 2s ease-out 1s;
    }

    .launchpad.animation{
        .launchpad__title,
        .launchpad__btn{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

        .launchpad__text{
            opacity: 1;
        }
    }
}