.products{
    padding-top: 8rem;

    @media (max-width: $bp-991){
        padding-top: 5rem;
    }
}
.products__title{
    text-align: center;
}

.products-list{
    margin: 2rem -1.7rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $bp-768){
        flex-direction: column;
        margin-top: -1rem;
    }
}
.products-list__item{
    flex: 0 0 calc(50% - 3.4rem);
    display: flex;
    flex-direction: column;
    min-height: 60rem;
    border-radius: 1.8rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 6rem 1.7rem 0;

    @media (max-width: $bp-768){
        margin-top: 5rem;
    }
}
.products-list__item_blank{
    @media (max-width: $bp-768){
        min-height: 37rem;
        padding: 0 2rem;
        text-align: center;
    }
}

// List item modifications
.products-list__item_variant-bb{
    .products-list__imagewrap{            
        background: linear-gradient(45deg, #0047FF, #040404);
    }
    .products-list__content{
        background: $lb_black;
    }
}
.products-list__item_variant-ob{
    .products-list__imagewrap{
        background: linear-gradient(125deg, #DE5000, #2F68FF);
    }
    .products-list__content{
        background: $lb_black;
    }
}
.products-list__item_variant-db{
    background: linear-gradient(to Bottom, #00437A, #090F1F 58%);
}
.products-list__item_variant-wb{
    background: linear-gradient(to Bottom, #9E9E9E, #091224 45%);
}
// End list mods

.products-list__imagewrap{
    height: 29.4rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    user-select: none;
    position: relative;

    @media (max-width: $bp-991){
        height: 28rem;
    }
    @media (max-width: $bp-565){
        height: 22.7rem;
    }
}

.products-list__img{
    max-height: 60%;

    &_big{
        max-height: 80%;
    }
}
.products-list__placeholder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    white-space: nowrap;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: .5rem;
    line-height: 1.17;
    color: #CFD6E0;
    text-transform: uppercase;
}
.products-list__content{
    flex-grow: 1;
    overflow: hidden;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $bp-991){
        flex-basis: 60%;
    }
    @media (max-width: $bp-768){
        padding: 2.7rem;
    }
    @media (max-width: $bp-414){
        padding: 2rem;
    }
}
.products-list__title{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.815rem;
    color: #fff;

    @media (max-width: $bp-414){
        font-size: 2rem;
    }
}
.products-list__text{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 3.5rem;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: $bp-768){
        margin-top: 2.6rem;
        font-size: 1.8rem;
    }
    @media (max-width: $bp-414){
        margin-top: 1.8rem;
        font-size: 1.5rem;
    }
}

.product-list-controls{
    display: flex;
    @media (max-width: $bp-414){
        flex-wrap: wrap;
    }
}
.product-list-controls__btn{ 
    &:first-child{        
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media (max-width: $bp-414){
        width: 100%;
        text-align: center;
    }
}
.product-list-controls__btn + .product-list-controls__btn{
    margin-left: 1.8rem;

    @media (max-width: $bp-414){
        margin-left: 0;
        margin-top: 1.5rem;
    }
}

@media (min-width: $bp-animation){
    .products-list__item:nth-child(even){
        z-index: 2;
        transform: translateX(calc(-100% - 3.4rem));
        transition: transform 1s linear .5s;
    }
    .products-list__item.animation{
        transform: translateX(0);
    }
}