.report{
    padding-top: 6.2rem;
    padding-bottom: 7rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: $bp-991){
        padding-top: 2.2rem;
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: $bp-768){
        padding-top: 4rem;
        padding-bottom: 5rem;
    }
}
.report-card{
    padding: 3.5rem;
    max-width: 59.5rem;
    flex: 1 0 calc(50% - 0.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:first-child{
        margin-right: 0.5rem;

        @media (max-width: $bp-991){
            margin-right: 0;
        }

        @media (max-width: $bp-768){
            padding: 2rem;
        }
    }
    &:last-child{
        margin-left: 0.5rem;

        @media (max-width: $bp-991){
            margin-left: 0;
        }
        @media (max-width: $bp-768){
            padding: 2.5rem 4rem;
        }
    }    

    @media (max-width: $bp-991){
        margin-top: 4rem;
    }

    @media (max-width: $bp-768){
        margin-top: 2.2rem;
        border-radius: 1.8rem;
    }
}
.report-card__title{
    max-width: 35rem;

    @media (max-width: $bp-768){
        font-size: 1.4rem;
        line-height: 1.5;
    }
}
.report-card__total{
    font-size: 3.4rem;
    font-weight: 600;
    line-height: 1.18;
    text-align: right;
    color: #E8E9EA;
    padding-top: 5rem;

    @media (max-width: $bp-768){
        font-size: 2.4rem;
    }
}
.report__mobile-title{
    display: none;
    @media (max-width: $bp-991){
        display: block;
    }
}
.report-list{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;

    @media (max-width: $bp-768){
        margin-top: 2.8rem;
    }
}
.report__row,
.report__col{
    display: flex;
    align-items: center;
}
.report__row{
    width: 100%;
    font-weight: 400;

    &_title{
        margin-bottom: 1rem;
    }

    @media (max-width: $bp-991){
        flex-direction: column;        

        &_title{
            display: none;
        }
    }
}
.report__row:not(:first-child) + .report__row{
    margin-top: 0.8rem;

    @media (max-width: $bp-768){
        margin-top: 2.5rem;
    }
}
.report__col{
    flex: 0 0 ;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.17;
    color: #E8E9EA;

    &:first-child{
        flex-basis: 19%;
        min-width: 9.6rem;
    }

    &:not(:first-child){
        justify-content: flex-end;
        text-align: right;
        padding-left: 1rem;
        flex-basis: 27%;
        flex-shrink: 1;
    }

    @media (max-width: 1100px){   
        &:not(:first-child){
            justify-content: center;
            text-align: center;
        }
    }

    @media (max-width: $bp-991){   
        &:not(:first-child){
            justify-content: space-between;
            padding-left: 0;
            margin-top: .7rem;
        }
        &:nth-child(2){
            margin-top: 1.8rem;
        }
        flex-basis: auto;
        width: 100%;
    }
    @media (max-width: $bp-414){
        span{
            font-size: 1.4rem;
        }
    }
}
.report__ph{
    font-size: 1.4rem;
    color: #9DA1A9;
    align-self: flex-start;
}
.report__col_icon{
    & img{
        max-width: 3.6rem;
        max-height: 3.6rem;
        margin-right: 1rem;
        
        @media (max-width: $bp-768){
            max-width: 3.1rem;
            max-height: 3.1rem;
        }
    }
}
.report__col_rate{
}
.report__nums{
    display: flex;
    flex-direction: column;
    text-align: right;

    span:nth-child(2){
        display: flex;
        align-items: center;

        &:before{            
            content: "";
            display: block;
            width: 1rem;
            height: 1rem;
            background: transparent url(../assets/images/arrow_up.png) center no-repeat;
            background-size: contain;
            margin-right: .5rem;
        }
    }
}
