@import "~normalize.css";
@import 'reset.scss';
@import 'mixins.scss';
@import 'fonts.scss';
@import 'vars.scss';

*,
*::after,
*::before{
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

body{
    margin: 0;
    font-size: 15px;    
    position: relative;

    &.no-scroll{
        overflow: hidden;
    }
}

.page{
    background: linear-gradient(to Bottom, $lb_blue 60%, $lb_black);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: $container;
    width: 100%;
    padding: 0 $padding;
    margin: 0 auto;

    @media (max-width: $bp-768){
        padding: 0 $padding / 2;
    }
}

// Import partials
@import "partials/components.scss";
@import "partials/header.scss";
@import "partials/footer.scss";
@import "partials/form.scss";
// Import sections
@import "sections/hero.scss";
@import "sections/statistics.scss";
@import "sections/banner.scss";
@import "sections/products.scss";
@import "sections/security.scss";
@import "sections/launchpad.scss";
@import "sections/projects.scss";
@import "sections/investors.scss";
@import "sections/calculator.scss";
@import "sections/deposit.scss";
@import "sections/report.scss";
@import "sections/pool.scss";